MHResearch.aux
MHResearch.fdb_latexmk
MHResearch.fls
MHResearch.log
MHResearch.out
MHResearch.pdf
MHResearch.synctex.gz

technical.aux
technical.fdb_latexmk
technical.fls
technical.log
technical.out
technical.pdf
technical.synctex.gz